<h2>A long time ago in a galaxy far far away….</h2>
<div class="card bg-outline-warning">
<h2>STAR WARS: THE MAD LIBS</h2>
<p>WAR! The entire galaxy is under siege. Two @Model.Adj1 factions stand against each other: @Model.PropNoun1 and @Model.PropNoun2. @Model.PropNoun1 struck first, at @Model.PropNoun2 ‘s @Model.Adj2 home planet of @Model.Place1. 
<p>In retaliation, @Model.PropNoun2 returned fire to @Model.Place2 where the leader of @Model.PropNoun1 - @Model.Person1 - was conducting a @Model.Adj3 mission with the intent of @Model.Verb1 a @Model.Noun1. 
</p>
<p>Because of this attack, @Model.Person1 was @Model.Verb2 (past tense) by @Model.Noun2.</p>
<p>It’s up to the @Model.Noun3 of the @Model.PropNoun1 faction to @Model.Verb3 - and in turn save the galaxy from turmoil.</p>
</div>